@font-face {
  font-family: 'Neue Mentreal';
  src: url(./Font/PPNeueMontreal-Regular.woff) format('truetype');
  font-weight: 400;
  line-height: normal;
}
*{
  box-sizing: border-box;
  margin: 0%;
}
meta {
  display: none;
}
body, html {
  margin: 0;
  overflow-x: hidden !important;
  display: block;
  text-rendering: optimizeLegibility;
  font-family: Neue Mentreal;
  color: #fff;
}

.c-background{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background-color: #222;
  position: fixed;
}
.c-background:before {
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  content: '';
  position: absolute;
  background-position: 50%;
  background-image: url('./img/noise-transparent.png');
  opacity: .5;
  pointer-events: auto;
  animation: bg-animation 1s infinite;
}  

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.c-body-padding{
  padding: 4% 5% ;
}

.c-h2{
  font-size: 98px;
  font-weight: 400;
  line-height: normal;
}
.c-h3{
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
.c-h4{
  font-size: 24px;
  font-weight: 400;
}
.c-h5{
  font-size: 16px;
  font-weight: 400;
}

a{
  text-decoration: none;
  color: #fff;
  cursor: alias !important;
}

.c-uppercase{
  text-transform: uppercase;
}
.c-underline{
  text-decoration: underline;
}
.c-text-intent{
  text-indent: 24%;
}
.c-text-justify{
  text-align: justify;
}
.c-right-align{
  text-align: right;
}


.c-margin-1{
  margin: 1%;
}
.c-margin-2{
  margin: 2%;
}
.c-padding-1{
  padding: 1%;
}

.dot {
  height: 1vh;
  width: 1vh;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}

/*-- Loader --*/


.c-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
  z-index: 50;
}
.c-loader-content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.c-loader-content h3{
  font-size: 72px;
  padding: 2% 0;
}
.c-loader-content h5{
  font-size: calc(1vw + 10px);
  padding: 2% 0;
}


/*-- Hero Section --*/

.c-hero-section{
  height: 90vh;
}

.c-navigation{
  justify-content: flex-start;
  display: flex;
  flex-direction: row;  
}
.c-navigation-menu{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
}  
.c-navigation-contact{
  justify-content: flex-end;
}

.c-hero-main{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.c-hero-title-name{
  text-align: right;
}
.c-hero-title{
  font-size: 128px;
  text-transform: uppercase;
  padding-right: 1%;
  line-height: 80%;
}
.char {
  transform: translateY(50px);
  transition: transform .8s;
}

.c-desc-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.c-desc-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}


/*-- Service Section --*/

.c-service-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.c-text {
  line-height: 70%;
  color: rgba(195, 195, 195, 0);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.c-text-color{
  color: #fff;
}
.c-service{
  display: flex;
  flex-direction: row;
}
.c-service-wrapper {
  display: flex;
}


/*-- Portfolio Section --*/


.c-portfolio-title{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.c-carousel-portfolio{
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.c-carousel-size img{
  width: 100%;
  height: 70vh;
  border-radius: .4em;
}

a:hover{
  text-decoration: underline;
}