@font-face {
  font-family: 'Neue Mentreal';
  src: url(./Font/PPNeueMontreal-Regular.woff) format('truetype');
  font-weight: 400;
  line-height: normal;
}
*{
  box-sizing: border-box;
}
meta {
  display: none;
}
body, html {
  margin: 0;
  display: block;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-family: Neue Mentreal;
  background-color: #222;
  color: #fff;
}

.c-background{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
}
.c-background:before {
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  z-index: 9;
  content: '';
  position: absolute;
  background-position: 50%;
  background-image: url('./img/noise-transparent.png');
  pointer-events: none;
  opacity: .5;
  animation: bg-animation 1s infinite;
}  

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.c-body-margin{
  margin: 4% ;
}

.c-h3{
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
.c-h4{
  font-size: 24px;
  font-weight: 400;
}
.c-h5{
  font-size: 16px;
  font-weight: 400;
}


.c-uppercase{
  text-transform: uppercase;
}
.c-underline{
  text-decoration: underline;
}
.c-right-align{
  text-align: right;
}


.c-margin-1{
  margin: 1%;
}
.c-margin-2{
  margin: 2%;
}

/*-- Loader --*/


.c-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
  z-index: 50;
}
.c-loader-content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.c-loader-content h3{
  font-size: 72px;
  padding: 2% 0;
}
.c-loader-content h5{
  font-size: calc(1vw + 10px);
  padding: 2% 0;
}


/*-- Hero Section --*/

.c-hero-section{
  height: 90vh;
}

.c-navigation{
  justify-content: flex-start;
  display: flex;
  flex-direction: row;  
}
.c-navigation-menu{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
}  
.c-navigation-contact{
  justify-content: flex-end;
}

.c-hero-main{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.c-hero-title-name{
  text-align: right;
}
.c-hero-title{
  font-size: 128px;
  text-transform: uppercase;
  padding-right: 1%;
  line-height: 80%;
}
.char {
  transform: translateY(50px);
  transition: transform .8s;
}

.c-desc-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.c-desc-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}



/*--------Services--------*/ 
.c-service-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.c-text {
  line-height: normal;
  margin-right: 1%;
  color: #ece9dd00;
  -webkit-text-stroke: 0.5px black;
}
.c-text-color{
  color: #222222;
}
.c-service{
  display: flex;
  flex-direction: row;
}
.c-service-wrapper {
  display: flex;
}

.c-service-text {
  font-size: calc(8vw + 10px);
  line-height: normal;
}


.c-about{
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2% ;
}  
.c-about-para{
  font-size: 54px;
  text-align: justify !important;
  line-height: normal;
  text-indent: 6.875rem;
}

/*--------Achievements--------*/

.c-achievements-title{
  display: flex;
  justify-content: center;   
}
.c-achievements-description{
  padding: 4% 0; 
  font-size:calc(1.2vw + 10px) ;
}
.c-achievements{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 0;  
}
.c-achievements-descr-1{
  flex: 60%;
}
.c-achievements-descr-2{
  flex: 40%;
  text-align-last: right;
}
/*--------Contact--------*/
.c-color{
 background-color: #222222;
 color: #fff;
 text-align: center;
}
.c-contact-section{
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.c-contact-title{
  display: flex;
  justify-content: center; 
  align-content: center;
  align-items: center;
  flex-direction: column;  
}
.c-contact-space{
  padding: 2%;
}
.c-contact-mail{
  display: flex;
  justify-content: center;
}
.c-contct-social{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.c-credit-space{
padding-top: 8%;
}


/*--------Contact--------*/

.c-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.c-footer-space{
  padding: 1% 0;
}

@media only screen and (max-width: 1400px) {
  .c-title .c-hero-title{
    font-size: calc(13.9vw + 10px);
    }
}
@media only screen and (max-width: 1080px) {
  .c-title .c-hero-title{
    font-size: calc(13.5vw + 10px);
    }
}


@media only screen and (max-width: 820px) {
body, html {
  overflow-x: hidden !important;
}
.c-body-margin{
  margin-left: 4%;
  margin-right: 4%;
}    
.c-space-section{
  margin: 16% 0;
}
.c-title{
display: flex;
}
.c-part-40 h2{
  font-size: 28px;
}

.c-title .c-hero-title{
font-size: calc(13vw + 10px);
}
.c-contact-section{
height: 750px;
}
.c-title-description-part-2-descp-3{
  display: none;
}
}

@media only screen and (max-width: 475px) {
  body, html {
      overflow-x: hidden;
    }
  .c-body-margin{
      margin-left: 2%;
      margin-right: 2%;
   }    
   .c-space-section{
      margin: 32% 0;
  }
  .c-loader-content h3{
    font-size: 48px;
  }

.c-part-40 h2{
  font-size: 24px;
}
  .c-title-description-part-2-descp-1{
    font-size: 14px;
   }
   
   .c-title-description-part-2-descp-2{
     font-size: 14px;
   }
   
   .c-title-description-part-2-descp-3{
     font-size: 14px;
   }
  .c-nav_work{
     flex-direction: column;
  }
  .c-service-heading{
    font-size: 14px;
  }
  .c-service-text {
    font-size: 40px;
    line-height: normal;
  }
  .c-nav_work-2{
    padding: 8% 0;
  }
  .c-text {
    -webkit-text-stroke: 0.5px black;
  }
  main{
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 }
  .c-title{
      text-align: center;
  }
  .c-title .c-hero-title{
      font-size: calc(12vw + 8px);
  }
  .c-title-description-part-1{
      margin-top: 8% ;
  }
  .c-title-description-part-2{
      margin-top: 8%;
  }
  .c-title-description-part-2-descp-1{
    margin-right: 2%;
  }
  .c-title-description-part-2-descp-3{
      display: none;
  }
  .c-about-para{
    font-size: 40px;
    text-align: justify !important;
    padding: 4% 0;
}
.c-achievements{
  padding: 6% 0;  
}
.c-achievements-description{
  font-size:calc(1.8vw + 10px) ;
}
    .c-heading{
      font-size: 72pxs;
  }
}


